{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "controllers": "./controllers",
          "database": "./database",
          "models": "./models",
          "middlewares": "./middlewares",
          "routes": "./routes",
          "seeds": "./seeds",
          "server": "./server",
          "utils": "./utils"
        }
      }
    ]
  ]
}
